
.Header-rol {
background-image: url("../img/header.png");
}

.body{
	font-family: verdana;
	background: #DAD4D4;
}
#botonModulos{
    position: relative;
    text-align: center;
    left: 180px;
       
}

.Header-logo{
	position: relative;
	float: left;
	left: 40px;
}
.Header-listRol{
	position: relative;
	border-radius: 5px;
    padding: 5px;
    top: -22em;
    color: black;
    font-family: verdana;
}

.Header-title-index{
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 150px;
    left: 5em;
    margin: 0;
}
.Header-title-index{
	width: 100%;
	height: 100%;

}
.Header-title-inicio{
	font-family: verdana;
	font-weight: normal;
	margin: 0;
	font-size:15pt;
	position: relative;
        vertical-align: top;
	text-align: center;
	max-width: 16em;
	left: 20px;
}
.iniciar input{
   width: 150px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 5px;
}
.actalizarContrase{
	display: inline-block;
	
}
.nav ul, ol{
	list-style: none;
}
.nav li a{
  background-color:green;
  color: black;
  text-decoration:none;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;

}
.nav li a{
	width: 100%;
}
.nav li {
	float:left;
}
.nav li a:hover{
	background-color: #434343;

}

.nav li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover>ul{
	display: block;
}
.Menu-img{
	position: relative;
	left: 55em;
	top: -100px;
	max-width: 30em;
	margin: 0;
}
.Manu-img{
	width: 100%;
	height: 100%
}


.Header-listModules{
    position: relative;
    top: -14em;
    color: black;
    font-family: verdana;
}

.menu-inicio{
	text-align: center;
	font-weight: normal;
}
.menu-inicio ul li{
	display: inline-block;
}
.MainMenu-item1{
	display: inline-block;
}
/*background de los modulos*/
.Modulos{
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #119178;
    width: 67%;
    left: 337px;
    top: -440px;
    padding: 12px;
    border-radius: 5px;    
}
/*////////////////////////*/
a{
    text-decoration: none;
}

.MainMenu-link1{
	position: relative;
	top: -68px;
	left: 140px;
	color: #ffffff;	
	text-decoration: none;
	background-color: #119178;
        border-radius: 5px;
        padding: 15px;
        padding-left: 91px;
        padding-right: 91px;
       
}
.MainMenu-link1:hover{
	background-color: #A0E27A;

}

.MainMenu-list1{
	margin: 0;
	padding: 0;
}

.Ingresar{
	position: relative;
	left: 48px;
	top: -38px;
	background-color: #119178;
	border-radius: 5px;
	width: 170px;
	text-align: center;
	padding: 52px;
	text-decoration: none;
}
.Ingresar-OlvidoContrase{
	color: black;
	text-decoration: none;
}

.from-index{
	position: absolute;
	left: 300px;
	top: 219px; 
	width: 50%;
	border-radius: 5px;
	margin: 0 auto;
	background-color: #119178; 
	text-align: center;
}
	
.img-enlaces-index{
	position: relative;
	top: -7em;
	background-color: #119178;
	border-radius: 5px;
	width: 190px;
	text-align: center;
	padding: 25px;
	left: 5px;
}
.Figure-im:hover{
        border: 5px solid #19CC4C;
        margin: 15px; 
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
}
.Figure-im:hover{
	 margin-top: 2px; 
}
/* enlaces y posicion de Imagenes*/
.img-enlaces{
	position: relative;
	background-color: #119178;
	border-radius: 5px;
	width: 190px;
	text-align: center;
	padding: 10px;
	top: -7em;
}
.img-enlaces-infoM{
	position: relative;
	background-color: #119178;
	border-radius: 5px;
        text-align: center;
        padding: 5px;
        width: 19%;
        top: -430px;
        left: 6px;
	
}
.img-enlaces-ayuda{
	position: relative;
	margin: 0;
	top: -20px;
	background-color: #119178;
	border-radius: 5px;
	width: 18%;
	text-align: center;
	padding: 10px;
	left: 48px;
}
.img-enlaces-inicio{
	position: relative;
	float: left;
	background-color: #119178;
	border-radius: 5px;
	width: 190px;
	text-align: center;
	padding: 41px;
	top: -653px;
	left: 9px;
}
.Enlaces-inicio{
	position: relative;
	top: 2px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 170px;
	left: 10px;
	
}
.Title-Enlaces{
	position: relative;
	top: -15px;
	background-color: #D8EBE8;
	border-radius: 5px;
        width: 100%;
        right: 3px;
	padding: 3px;
	
}
/*/////posicion y diseño de Videos/////*/
.work-video{
	position: relative;
	float: right;
	top:-440px; 
        right: 45px;
	display: none;
	display: inline-block;
	background-color: #119178;
	border-radius: 5px;
	text-align: center;
	width: 70%;
	padding: 12px;
}
.Title-Videos{
        position: relative;
        top:-4px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 100%;
	padding: 2px;
	
}
.work-video-ayuda{
	position: relative;
	float: right;
	top: -492px;
	left: -100px;
	display: none;
	display: inline-block;
	background-color: #119178;
	border-radius: 5px;
	text-align: center;
	width: 69%;
	
}
.Title-Video-ayuda{
        position: relative;
        top:-4px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 98%;
	padding: 3px;
        left: 7px;
	
}
.work-video-Modulos{
	position: relative;
        top: -55em;
        right:  105px;
        display: none;
        text-align: center;
        display: inline-block;
        background-color: #119178;
        border-radius: 5px;
        width: 67%;
        padding: 12px;
        float: right;
}
.Title-Video-Modulos{
        position: relative;
        top:-4px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 100%;
	padding: 2px;
	
}
.container{
	text-align: center;
	width: 600px;
	height: 510px;
	padding: 20px;	
	
}
/* codigo slider de imagenes */
.slides{
	margin:0;
	padding:0;
}
.main {
	position: relative;
	top: -350px;
	left: 22em;
	max-width:995px;
	margin:0;
}
 
.slides{
	width: 100%;
}
.slides img {
	width:100%;
}

.slides img{
	padding: 0;
	border-radius: 5px;	
}
.slidesjs-pagination{
	position: relative;
	top: -235px;
	border-radius: 5px;
	background: #424242;
	list-style: none;
	overflow: hidden;
	
}
.slidesjs-pagination li{
	float: left;	
}
.slidesjs-pagination li a:hover{
        background: black;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 30px;
	color: #ffffff;
	text-decoration: none;
}
.slides .active{
	background: black;

}
.slidesjs-navigation{
	position: relative;
	top: -220px;
	background: black;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	float: right;
        border-radius: 5px;
}
.slidesjs-container{
margin: 0 auto;
}
/*////////////////////////////*/
.MainMenu{
	text-align: center;
	height: 3.75em;
	border-radius: 5px;
	line-height: 3.75em;
	top:0;
	}

.MainMenu-link{
	position: relative;
	top: -7em;
        color: black;
	text-decoration: none;
	background-color: grey;
        border: 1px solid;
       z-index: 1;
}
.MainMenu{
	width: 100%;
}
.MainMenu-link{
	width: 100%;

}
.MainMenu-link:hover{
	 background-color:#34E143;
         transition: all 0.5s ease-out;
}
.MainMenu-item{
         display: inline-block;
}
.MainMenu-list{
	margin: 0;
	padding: 0;
}
.Button:hover{
	background-color: black;
}
.Button{
	background: green;
	color: #A0E27A;
	padding: 5px;
	margin-right: .5em;
	margin-left: .5em;
        border-radius: 5px;
        border: 1px solid;

}

#border{
	background-color: green;
	text-align: center;
}

.Footer{
	background-image: url("../img/bottom.png");
	color: black;
	margin: 0;
	display: block;

}
#contactos{
	position: relative;
	top:8em;
	 padding: 1em;
}
.Sami{
	position: absolute;
}
/* clases de la opcion de ayuda*/
.Title-ayuda{
	position: relative;
	top: -37px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 100%;
        padding: 4px;
}
.Title-ayuda-boton{
	position: relative;
	top: -12px;
	background-color: #D8EBE8;
	border-radius: 5px;
	width: 100%;    
}

#contact-form {
   position: relative;
   float: right;
   right: 100px;
   text-align: center;
   top:-440px;  
   background-color:  #119178;
   width: 64%;  
   padding: 35px;
    -o-border-radius: 5px; 
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
}
 
#contact-form input,  
#contact-form select,  
#contact-form textarea,  
#contact-form label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  
 
#contact-form input,  
#contact-form select,  
#contact-form textarea {  
   width: 300px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
 
#contact-form input:focus,  
#contact-form select:focus,  
#contact-form textarea:focus {  
   background-color: #E5E6E7;
}  
 
#contact-form textarea {  
   height: 50px;  
}  
 
 
#contact-form #submit:hover {  
   background-color: #BFD7C1;  
   color: #6EA070;
}
 
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
}
 

#failure, #success {
   color: #6EA070;
   display:none;  
}
/*codigo responsive design*/
@media all and (max-width: 600px){
	div{
		width:100%;
		height:auto;
		margin-left:10px;
	}
}
a.menu {
	display:inline-block;
	padding:0px 12px;
	margin:0px 8px;
}
@media all and (max-width: 1200px) {
	a.menu {
		display: inline-block;
		padding:0px 6px;
		margin:0px 4px;
	}
}
@media all and (max-width: 840px) {
	a.menu{
		margin:0px;
		padding:0px;
		padding-left:5%;
		display:block;
		float:none;
		text-align:left;
	}
}
@media all and (max-width: 520px) {
	a.menu{
		padding-left:20%;
	}
}