
.Header-rol {
    background-image: url("../img/header.png");
}

.body{
    font-family: verdana;
    background: #ffffff;
    width: 100%;
    margin:auto;
    min-width:600px;
    max-width:2000px;

}
#botonModulos{
    position: relative;
    text-align: center;
    left: 180px;

}
.Header{
    background-image: url("../images/template/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}
.HeaderModulos{
    background-image: url("../images/template/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}
.HeaderAyuda{
    background-image: url("../images/template/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}
.Header-logo{
    position: relative;
    float: left;
    left: 40px;
}
.Header-logo{
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    opacity: 1;
    filter:alpha(opacity=10);
}
.Header-logo:hover{
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-out;
    opacity: 0.7;
    filter:alpha(opacity=7);
}

.Header-listRol{
    position: relative;
    border-radius: 5px;
    padding: 5px;
    top: -22em;
    color: black;
    font-family: verdana;
}

.Header-title-index{
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 150px;
    left: 5em;
    margin: 0;
}
.Header-title-index{
    width: 100%;
    height: 100%;

}
.Header-title-inicio{
    font-family: verdana;
    font-weight: normal;
    margin: 0;
    font-size:15pt;
    position: relative;
    vertical-align: top;
    text-align: center;
    max-width: 16em;
    left: 20px;
}
.iniciar input{
    width: 150px;
    background: #fff;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}
.actalizarContrase{
    display: inline-block;

}
.nav ul, ol{
    list-style: none;
}
.nav li a{
    background-color:green;
    color: black;
    text-decoration:none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;

}
.nav li a{
    width: 100%;
}
.nav li {
    float:left;
}
.nav li a:hover{
    background-color: #434343;

}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover>ul{
    display: block;
}
.Menu-img{
    position: relative;
    left: 55em;
    top: -100px;
    max-width: 30em;
    margin: 0;
}
.Manu-img{
    width: 100%;
    height: 100%
}


.Header-listModules{
    position: relative;
    top: -14em;
    color: black;
    font-family: verdana;
}

.menu-inicio{
    text-align: center;
    font-weight: normal;
}
.menu-inicio ul li{
    display: inline-block;
}
.MainMenu-item1{
    display: inline-block;
}
/*background de los modulos*/
.Modulos{
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #119178;
    width: 68%;
    left: 337px;
    top: -442px;
    padding: 20px;
    border-radius: 5px;    
}
/*////////////////////////*/
a{
    text-decoration: none;
}

.MainMenu-link1{
    position: relative;
    top: -68px;
    left: 140px;
    color: #ffffff;	
    text-decoration: none;
    background-color: #119178;
    border-radius: 5px;
    padding: 15px;
    padding-left: 91px;
    padding-right: 91px;

}
.MainMenu-link1:hover{
    background-color: #A0E27A;

}

.MainMenu-list1{
    margin: 0;
    padding: 0;
}

.Ingresar1{
    position: relative;
    left: 48px;
    top: -38px;
    background-color: #119178;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    height: 385px;
    text-decoration: none;
}
.Ingresar2{
    position: relative;
    left: 48px;
    top: -38px;
    background-color: #119178;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    height: 385px;
    text-decoration: none;
}
.Ingresar3{
    position: relative;
    left: 48px;
    top: -38px;
    background-color: #119178;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    height: 385px;
    text-decoration: none;
}
.Ingresar-OlvidoContrase{
    color: black;
    text-decoration: none;
}

.from-index{
    position: absolute;
    left: 300px;
    top: 219px; 
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #119178; 
    text-align: center;
}

.img-enlaces-index{
    position: relative;
    top: -7em;
    background-color: #119178;
    border-radius: 5px;
    width: 190px;
    text-align: center;
    padding: 25px;
    left: 5px;
}
.Figure-im:hover{
    border: 5px solid #19CC4C;
    margin: 15px; 
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}
.Figure-im:hover{
    margin-top: 2px; 
}
/* enlaces y posicion de Imagenes*/
.img-enlaces{
    position: relative;
    background-color: #119178;
    border-radius: 5px;
    width: 190px;
    text-align: center;
    padding: 10px;
    top: -7em;
}
.img-enlaces-infoM{
    position: relative;
    background-color: #119178;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    width: 19%;
    top: -442px;
    height: 469px;
    left: 6px;

}
.img-enlaces-ayuda{
    position: relative;
    margin: 0;
    top: -20px;
    background-color: #119178;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    height: 450px;
    left: 48px;
}
.img-enlaces-inicio{
    position: relative;
    float: left;
    background-color: #119178;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    top: -60px;
    height: 475px;
    left: 9px;
}
.Enlaces-inicio{
    position: relative;
    top: 2px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 170px;
    left: 10px;

}
.Title-Enlaces{
    position: relative;
    top: -6px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 95%;
    left: 4px;
    padding: 3px;

}
/*/////posicion y diseño de Videos/////*/
.work-video{
    position: relative;
    float: right;
    top: -45px;
    right: 80px;
    display: none;
    display: inline-block;
    background-color: #119178;
    border-radius: 5px;
    text-align: center;
    width: 69%;
    height: 471px;
    padding: 12px;
}
.Title-Videos{
    position: relative;
    top:-4px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 100%;
    padding: 2px;

}
.work-video-ayuda{
    position: relative;
    float: right;
    top: -490px;
    left: -77px;
    display: none;
    display: inline-block;
    background-color: #119178;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    height: 460px;
    padding: 5px;

}
.Title-Video-ayuda{
    position: relative;
    top:-4px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 98%;
    padding: 3px;
    left: 7px;

}
.work-video-Modulos{
    position: relative;
    top: -935px;
    right: 77px;
    display: none;
    text-align: center;
    display: inline-block;
    background-color: #119178;
    border-radius: 5px;
    width: 70%;
    height: 469px;
    padding: 7px;
    float: right;
}
.Title-Video-Modulos{
    position: relative;
    top:-4px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 100%;
    padding: 2px;

}
.container{
    text-align: center;
    width: 600px;
    height: 510px;
    padding: 20px;	

}
/* codigo slider de imagenes */
.slides{
    margin:0;
    padding:0;
}
.main {
    position: relative;
    top: -443px;
    left: 21em;
    max-width:1005px;
    height: 20px;

}

.slides{
    width: 100%;
}
.slides img {
    width:100%;
}

.slides img{
    border:5px;
    padding: 0;
    border-radius: 5px;	
}
.slidesjs-pagination{
    position: relative;
    top: -221px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    background: #424242;
    list-style: none;
    overflow: hidden;

}
.slidesjs-pagination li{
    float: left;	
}
.slidesjs-pagination li a:hover{
    background: black;
}
.slidesjs-pagination li a{
    display: block;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
}
.slides .active{
    background: black;

}
.slidesjs-navigation{
    position: relative;
    top: -205px;
    background: black;
    border-style: solid;
    border-color: green;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
    border-radius: 5px;
}
.slidesjs-container{
    margin: 0 auto;
}
/*////////////////////////////*/
.MainMenu{
    text-align: center;
    height: 3.75em;
    border-radius: 5px;
    line-height: 3.75em;
    top:0;
}

.MainMenu-link{
    position: relative;
    top: -7em;
    color: black;
    text-decoration: none;
    background-color: grey;
    border: 1px solid;
    z-index: 1;
}
.MainMenu{
    width: 100%;
}
.MainMenu-link{
    width: 100%;

}
.MainMenu-link:hover{
    background-color:#34E143;
    transition: all 0.5s ease-out;
}
.MainMenu-item{
    display: inline-block;
}
.MainMenu-list{
    margin: 0;
    padding: 0;
}
.Button:hover{
    background-color: black;
}
.Button{
    background: green;
    color: #A0E27A;
    padding: 5px;
    margin-right: .5em;
    margin-left: .5em;
    border-radius: 5px;
    border: 1px solid;

}

#border{
    background-color: green;
    text-align: center;
}
.Sami{
    position: absolute;
}
/* clases de la opcion de ayuda*/
.Title-ayuda{
    position: relative;
    top: -37px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
}
.Title-ayuda-boton{
    position: relative;
    top: -12px;
    background-color: #D8EBE8;
    border-radius: 5px;
    width: 100%;    
}

#contact-form {
    position: relative;
    float: right;
    right: 78px;
    text-align: center;
    top: -443px;
    background-color: #119178;
    width: 66%;
    padding: 32px;
    height: 341px;
    -o-border-radius: 5px; 
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
}

#contact-form input,  
#contact-form select,  
#contact-form textarea,  
#contact-form label {  
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
}  

#contact-form input,  
#contact-form select,  
#contact-form textarea {  
    width: 30%;
    background: #fff;
    border: 0;
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;
    margin-bottom: 25px;  
    padding: 5px;  
}  

#contact-form input:focus,  
#contact-form select:focus,  
#contact-form textarea:focus {  
    background-color: #E5E6E7;
}  

#contact-form textarea {  
    height: 50px;  
}  


#contact-form #submit:hover {  
    background-color: #BFD7C1;  
    color: #6EA070;
}

input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
}


#failure, #success {
    color: #6EA070;
    display:none;  
}
/*codigo responsive design*/
@font-face {
    font-family: 'icomoon';
    src:url("/SAMI/faces/javax.faces.resource/fonts/icomoon.eot?jfrvdd");
    src:url("/SAMI/faces/javax.faces.resource/fonts/icomoon.eot?#iefixjfrvdd") format('embedded-opentype'),
        url("/SAMI/faces/javax.faces.resource/fonts/icomoon.woff?jfrvdd") format('woff'),
        url("/SAMI/faces/javax.faces.resource/fonts/icomoon.ttf?jfrvdd") format('truetype'),
        url("/SAMI/faces/javax.faces.resource/fonts/icomoon.svg?jfrvdd#icomoon") format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-help:before {
    background: -webkit-linear-gradient(rgba(87, 240, 170, 0.88), rgba(37, 148, 55, 1));
    border-radius: 20%;
    border: 1px solid rgba(176, 166, 166, 1);
    color: rgba(0, 0, 0, 0.76);
    content: "\e600";
    font-size: 2.6em;
    padding: 6px 4px 4px 4px;
}
.icon-cog:before {
    background: -webkit-linear-gradient(rgba(213, 201, 201, 1), rgba(0, 0, 0, 0.96));
    border-radius: 20%;
    border: 1px solid rgba(176, 166, 166, 1);
    color: rgba(255, 255, 255, 0.83);
    content: "\e601";
    font-size: 2.6em;

    padding: 6px 4px 4px 4px;
}
.icon-icon-sena0:before {
    background: -webkit-linear-gradient(rgba(193, 248, 250, 1), rgba(188, 222, 224, 0.67));
    border-radius: 20%;
    border: 1px solid rgba(116, 111, 111, 0.57);
    color: #747D7E;

    content: "\e605";
    font-size: 2.5em;

    padding: 6px 1px 4px 1px;

}
.icon-icon-sofia-01:before {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(194, 199, 195, 0.6));
    border-radius: 20%;
    border: 1px solid rgba(116, 111, 111, 0.57);
    color: rgba(36, 32, 32, 0.77);
    content: "\e603";
    font-size: 2.5em;

    padding: 6px 3px 4px 3px;
}

.icon-triangle-down:before {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(194, 199, 195, 0.6));
    content: "\e601";
    font-size: 1.2em;
    border-radius: 16%;
    border: 1px solid rgba(116, 111, 111, 0.57);
    color: rgba(0, 0, 0, 0.37);
    padding: 1px 1px 1px 1px;
}

.ui-dialog .ui-dialog-titlebar {
    border-top: none;
    border-right: none;
    background: #6EA070;
    color: black;
    border-left: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.Band-mant{
    background-color: #238276;
    border: solid 10px rgba(102, 123, 112, 0.4);
    padding-bottom: 2em;
}
.linea-mensaje-sami {border: 0; height: 0; border-top: 4px double black; text-align:center;}   
.linea-mensaje-sami:after {content:"SAMI"; position: relative; top: -17px; display: inline-block; width: 36px; height: 24px; padding: 0;border: 2px solid #119178; border-radius: 20px; background: #119178; color: white; font-size: 12px; line-height: 24px; }

.linea {border: 0; height: 0; border-top: 4px double black; text-align:center;}
.linea:after {content:"SAMI"; position: relative; top: -17px; display: inline-block; width: 36px; height: 24px; padding: 0;border: 2px solid #119178; border-radius: 20px; background: #119178; color: white; font-size: 12px; line-height: 24px; }
.hr{
    position: relative;
    top: 1000px;
}
.divMensajeSami{
    position: relative;
    left: 300px;
    width: 60%;  
    top: 20px;
    border-radius: 5px;
    border: solid #747D7E;
    background: #E5E6E7;
}
.divMensjeTex{
    background: gray;
    border: solid #000;
}
.introducion-sami{
    text-align: center;
}
.Footer {
    background-image: url("../images/footer.png");
    background-position: center; 
    width: 100%;
    position: relative;
    top: 75em;
    /* left: 12px; */
    text-align: center;
    height: 450px;
}



.Footer-item,
.Footer-title,
.Footer-imageDescription{

    display: inline-block;
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 2em;
    list-style: none;

}
.Footer-title,
.Footer-descriptioncon,
.Footer-description{
    position: relative;
    right: 30px;
    display: block;
}
.item{
    position: relative;
    left: 400px;
    width: 100%;
    top: -150px;
}

.Header-imageContainer{
    display: inline-block;
}

.HeaderListModules-Options{
    display: inline-block;
    position: static;
    text-align: center;
    margin-left: 19em;

}

img{max-width:100%; vertical-align: middle;}
/**responseve */
@media handheld{
    body{width:98%;font-family:Verdana;font-size:16px;  
    } 
    @media screen and (min-width:300px) and (max-width:800px) {
        body{font-size:0.8em;}
        sidebar{display:none;}
    }

}
@media screen and (min-width:480px) and (max-width:800px) {
    /* Target landscape smartphones, portrait tablets, narrow desktops
  
    */
}
@media screen and (max-width:479px) {

}


@media screen and (max-width: 1024px){
    .work-video{ width: 63%; top: -526px; left: -50px; }
    .work-video-Modulos{width: 66%; left: -30px; top: -895px;}
    .work-video-ayuda{width: 68%;left: -10px;top: -448px; padding: 7px;}
    .Modulos{ width: 63%;left: 300px;top: -395px; height: 365px;}
    #botonModulos{ position: relative; left: -0px;top: -10px; }    
    #contact-form{ width: 63%;left: -10px;top: -395px; } 
    .main{ max-width:655px; left: 300px; top: -395px;}
    .Ingresar1{ width: 25%; left: 15px;top: 10px;} 
    .Ingresar2{width: 25%; left: 15px;top: 10px;} 
    .Ingresar3{width: 25%; left: 15px;top: 10px;}
    .img-enlaces-infoM{width: 26%;left: -25px; top: -400px; padding:5px; }
    .img-enlaces-ayuda{width: 25%;left: 15px;top: 23px;}
    .img-enlaces-inicio{width: 25%;left: -25px;top: -15px;}
    .slidesjs-pagination{top: -27px;padding: 0px 0px;}
    .slidesjs-navigation{top: -12px;padding: 10px 0px;}
    .menu-inicio{width: 100%;}
    .MainMenu-link1{top: -20px;left: 50px;padding: 15px;padding-left: 70px;padding-right: 70px;}
    .Header-title-inicio{}
    .Header-logo{left: 320px;width: 350px;height: 80px; border-radius: 50% 0; /* Borde redondeado */
                 box-shadow: 0px 0px 15px #000; /* Sombra */
                 padding:15px; /* Espacio entre la imagen y el borde */
                 background:#FFF; /* Color de fondo que se ve entre el espacio */
                 -moz-transition: all 1s;
                 -webkit-transition: all 1s;
                 -o-transition: all 1s}
    .Header-logo:hover {border-radius:0; /* Con esto quitamos el borde redondeado */
                        -moz-transition: all 1s;
                        -webkit-transition: all 1s;
                        -o-transition: all 1s;
                        cursor:pointer;
    }
    .enviarAyuda{float: right;border: solid black;}
    .FormularioAyuda{top: -50px;}
    .Menu-img{position: relative;left: 43em;top: -65px;max-width: 20em;margin: 0;border-radius: 5px;}

}

/*@media screen and (max-width: 1366px){
    .work-video{ width: 72%;  left: -30px;top: -572px; padding: 12px;}
    .work-video-Modulos{width: 72%; left: -28px; top: -933px;}
    .img-enlaces-infoM{width: 21%;left: -5px;top: -440px;}
    .Modulos{ width: 70%;left: 333px; top: -430px; height: 354px; }    
    .work-video-ayuda{width: 71%;left: -45px;top: -500px;}
    #contact-form{ width: 67%;left: -45px; }
    .img-enlaces-ayuda{width: 20%; left: 35px;top: -30px;}
    .main{ max-width:998px; left: 325px; }
    .Ingresar1{ width: 20%; left: 25px;} 
    .Ingresar2{width: 20%;left: 35px;height: 372px;padding: 10px;} 
    .Ingresar3{width: 20%;left: 35px;} 
    .img-enlaces-inicio{width: 20%;left: -16px;}
    .slidesjs-pagination{top: -220px;padding: 0px 0px;}
    .slidesjs-navigation{padding: 10px 0px;}
    .menu-inicio{width: 100%;}     
    .FormularioAyuda{top: -50px;}
}*/
@media screen and (max-width: 800px){
    .work-video{width: 67%;  left: 1px;top: -524px;}
    .work-video-Modulos{  width: 66%;left: -17px; padding: 9px;top: -956px;}
    .img-enlaces-infoM{width: 26%;left: -35px;padding: 7px;  top: -456px;}    
    .img-enlaces-inicio{width: 25%;left: -33px;top: -15px;}
    .Modulos{  width: 63%;  left: 230px;  top: -450px;  height: 420px;}
    #botonModulos{  width: 100%}
    .work-video-ayuda{width: 67%; height: 455px; left: -9px;padding: 8px;top: -450px;}
    #contact-form{width: 61%; left: -9px;top: -395px;}
    .img-enlaces-ayuda{width: 25%;left: 7px;top: 21px;}
    .main{max-width:550px; left: 230px;}
    .Ingresar1{width: 25%;left: 7px;} 
    .Ingresar2{width: 25%;left: 7px;height: 440px;} 
    .Ingresar3{width: 25%;left: 7px;}
    .slidesjs-pagination{top: -14px; padding: 2px 0px;}
    .slidesjs-navigation{top: 2px;padding: 12px }
    .menu-inicio{width: 800px;}
    .MainMenu-link1{top: -20px;left: -30px;padding: 15px;
                    padding-left: 67px;
                    padding-right: 48px;}    
    .Header-title-inicio{ display: none; float: left; top: 47px; left: -360px;}
    .Header-logo {
        left: 101px;
        width: 300px;
        top: 23px;
        height: 95px;
        border-radius: 46% 0;
        box-shadow: 4px -5px -18px #0B1;
        padding: 10px;
        background: #FFF;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s; }
    .enviarAyuda{float: right; border: solid black;}
    .FormularioAyuda{top: -50px;}
    .Menu-img {left: 442px;top: -65px;}

}

 
